<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="/public/main.css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <main>
      <header>
        <div class="user-count fa fa-user"> <%= count %> </div>
        <h1>Realtime Chat</h1>
      </header>

      <section class="chat">
        <% messages.map(data => { %>
        <p><strong><%= data.name %> </strong>: <%= data.message %></p>
        <% }) %>
      </section>

      <input type="text" id="message"placeholder="Say something nice" />
      <button id="send">Send</button>
    </main>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://unpkg.com/socket.io-client@2/dist/socket.io.slim.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/cookie_js@1.2.2/cookie.min.js"></script>
    <script src="/public/main.js"></script>
  </body>
</html>
